@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;
@use "../../../styles/functions.scss" as f;

.skills {
  padding-bottom: 5.1875rem;
  background: url("../../../assets/images/Home_Skills/decor.svg") right -3.125rem
    top / 6.4375rem 6.4375rem no-repeat;

  @include m.laptop {
    background: initial;
  }

  @include m.phone {
    padding-bottom: 3.125rem;
  }
}

.title {
  font-weight: 500;
  font-size: 2rem;
  line-height: f.ratio(32, 42);
  color: v.$white;
  position: relative;
  span {
    color: v.$purple;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1rem;
}
