$maxWidth: 1366;
$maxWidthContainer: 1030;

$fira : 'Fira Code',
monospace;


$black: #282C33;
$coral: #E06B74;
$green: #98C379;
$grey: #ABB2BF;
$orange: #E5C07A;
$blue: #62AEEF;
$purple: #C778DD;
$turquoise: #55B6C2;
$white: #ffffff;