@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  font-family: v.$fira;
  font-weight: 400;
  font-size: 1rem;
  line-height: f.ratio(16, 20.99);
  color: v.$grey;
  background-color: v.$black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: v.$maxWidthContainer + 30px;
  padding-inline: 0.9375rem;
  margin-inline: auto;
  position: relative;
}