@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.projects {
  padding-bottom: 6.625rem;
  background: url('../../../assets/images/Home_Projects/bg.svg')left 0rem top 4.0625rem / 2.125rem 5.25rem no-repeat;

  @include m.tablet {
    background: initial;
  }

  @include m.phone {
    padding-bottom: 3.125rem;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include m.phone {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
  }
}

.title {
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    width: 38vw;
    height: 0.0625rem;
    background-color: v.$purple;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11.875rem;

    @media screen and (max-width:700px) {
      width: 28vw;
    }

    @media screen and (max-width:600px) {
      width: 0;
    }

  }

  span,
  h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: f.ratio(32, 42);
    color: v.$purple;
  }

  h2 {
    color: v.$white;
  }
}

.link {
  white-space: nowrap;

  a {
    font-weight: 500;
    font-size: 1rem;
    line-height: f.ratio(16, 21);
    color: v.$white;

    &:hover {
      color: v.$purple;
    }
  }
}

.cards {
  display: flex;
  max-width: 100%;
  gap: 1rem;

  @include m.netbook {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  min-height: 24.375rem;
  border: 0.0625rem solid v.$grey;
  flex: 0 1 33.33%;
  flex-wrap: wrap;

  @include m.netbook {
    flex: 0 0 20.625rem;
  }

  @include m.phone {
    flex: 0 1 100%;
  }
}

.cardImage {
  max-width: 100%;

  img {
    width: 100%;
    max-height: 12.5rem;
    object-fit: cover;
    object-position: top;
  }
}

.cardSkills {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-top: 0.0625rem solid v.$grey;
  border-bottom: 0.0625rem solid v.$grey;
}

.content {
  max-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardTitle {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: f.ratio(24, 31);
  color: v.$white;
  flex: 0 0 auto;
}

.cardDescription {
  flex: 1 0 auto;
}

.cardLinks {
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 auto;
}

.deploy,
.git {
  padding: 0.5rem 1rem;
  border: 0.0625rem solid v.$grey;
  transition: all 0.3s;

  &:hover {
    border: 0.0625rem solid v.$white;
    background-color: v.$purple;
    color: v.$white;
  }
}