@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.facts {
  padding-bottom: 10.125rem;
  background: url('../../../assets/images/Home_Skills/recBig.svg') left -4.6875rem top 6.25rem / 9.6875rem
      9.6875rem no-repeat,
    url('../../../assets/images/Home_Skills/decor.svg') right -3.125rem bottom 3.125rem/ 6.4375rem
      6.4375rem no-repeat,
    url('../../../assets/images/Home_Skills/decor.svg') 70% 20% / 3.5rem 3.5rem no-repeat,
    url('../../../assets/icons/LogoALBG.svg') 80% 60% / 8.3125rem 8.3125rem no-repeat;

  @include m.laptop {
    background: url('../../../assets/images/Home_Skills/decor.svg') 70% 20% / 3.5rem 3.5rem
        no-repeat,
      url('../../../assets/icons/LogoALBG.svg') 80% 60% / 8.3125rem 8.3125rem no-repeat;
  }

  @include m.netbook {
    background: url('../../../assets/images/Home_Skills/decor.svg') 100% 20% / 3.5rem 3.5rem
        no-repeat,
      url('../../../assets/icons/LogoALBG.svg') 100% 60% / 8.3125rem 8.3125rem no-repeat;
  }

  @include m.tablet {
    background: url('../../../assets/icons/LogoALBG.svg') 100% 100% / 8.3125rem 8.3125rem no-repeat;
  }

  @include m.phone {
    padding-bottom: 3.125rem;
    background: initial;
  }
}

.title {
  font-weight: 500;
  font-size: 2rem;
  line-height: f.ratio(32, 42);
  color: v.$white;
  position: relative;

  span {
    color: v.$purple;
  }
}

.container {
  max-width: 37.8125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  p {
    padding: 0.5rem;
    border: 0.0625rem solid v.$grey;
  }
}
