@use "../../styles/variables.scss" as v;
@use "../../styles/mixins.scss" as m;
@use "../../styles/functions.scss" as f;

.header {
  padding-block: 2rem 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
  background-color: v.$black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navWrapper {
  display: flex;
  justify-content: space-between;

  @include m.tablet {
    display: none;
    position: absolute;
  }
}

.navWrapper.active {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #282c33;
  top: 5rem;
  right: 0;
  overflow: auto;
  padding: 2.9375rem 1rem;

  @include m.phone {
    width: 100vw;
  }
}

.nav.active {
  flex-direction: column;
  align-items: center;

  .navList {
    flex-direction: column;
    row-gap: 2.1875rem;
    align-items: center;

    a {
      font-size: 2rem;
      line-height: f.ratio(32, 41.98);
    }
  }
}

.navList,
.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navItem {
  &:hover {
    color: v.$white;
  }
}

.burgerMenu {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  position: relative;

  @media screen and (min-width: 769px) {
    display: none;
    position: absolute;
  }

  &::before {
    content: "";
    width: 50%;
    flex: 0 0 50%;
    height: 0.125rem;
    left: 0;
    top: 50%;
    background-color: v.$white;
    position: absolute;
  }
}

.menuTablet {
  width: 100%;
  height: 0.125rem;
  background-color: v.$white;
  position: absolute;
  top: 0;
  left: 0;
}

.burgerMenu.active {
  .menuTablet {
    animation: moveTopLine 0.4s forwards;
  }

  &::before {
    animation: moveBotLine 0.4s forwards;
  }
}

@keyframes moveTopLine {
  0% {
    transform: scale(1) translateY(-10px);
  }
  25% {
    transform: scale(1.5) translateY(-11px);
  }
  50% {
    transform: scale(1) translateY(-10px);
  }
  75% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translate(0%, -50%) rotate(45deg);
    top: 50%;
    left: 0;
  }
}

@keyframes moveBotLine {
  0% {
    transform: scale(1) translateY(10px);
  }
  25% {
    transform: scale(1.5) translateY(11px);
  }
  50% {
    transform: scale(1) translateY(10px);
  }
  75% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translate(0%, -50%) rotate(-45deg);
    width: 100%;
    flex: 0 0 100%;
  }
}

.language {
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.out,
.login {
  padding: 0.5rem 0.75rem;
  background-color: rgb(209, 38, 38);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(133, 30, 30);
  }
}

.login {
  background-color: transparent;
  border: 1px solid v.$purple;
  &:hover {
    background-color: v.$purple;
  }
}
