@use '../../styles/variables.scss' as v;
@use '../../styles/mixins.scss' as m;
@use '../../styles/functions.scss' as f;

.footer {
  border-top: 0.0625rem solid v.$grey;
}

.container {
  margin-block: 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 0.9375rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.wrapperContacts {
  flex: 1 1 75%;
}

.contacts {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.text {
  color: v.$white;
  font-weight: 500;
  font-size: 1.125rem;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: f.ratio(24, 31.49);
  color: v.$white;

  &:not(:last-child) {
    margin-bottom: 0.8125rem;
  }
}

.media {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: end;
  @media screen and (max-width: 600px) {
    align-items: center;
  }
}

.icons {
  flex: 1 1 100%;
  display: flex;
  gap: 0.875rem;
  flex-wrap: wrap;
  justify-content: end;
  @media screen and (max-width: 600px) {
    justify-content: center;
  }

  a {
    flex: 0 0 32px;
    height: 32px;
    padding: 0.3125rem;
    transition: all 0.3s;

    &:hover {
      svg * {
        fill: v.$white;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: v.$grey;
      transition: all 0.3s;
    }
  }
}

.authorship {
  text-align: center;
}
