@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;
@use "../../../styles/functions.scss" as f;

.contact {
  background: url("../../../assets/images/Home_Skills/decor.svg") left 1.25rem
      bottom / 3.0625rem 3.0625rem no-repeat,
    url("../../../assets/images/Home_Skills/recBig.svg") right -4.8125rem top / 9.6875rem
      9.6875rem no-repeat;

  @include m.laptop {
    background: initial;
  }
}

.container {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;

  @include m.tablet {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.values a {
  display: inline-flex;
  gap: 0.4375rem;
  align-items: center;

  svg {
    width: 2rem;
    height: 2rem;
    fill: v.$grey;
  }

  &:hover {
    color: v.$white;

    svg * {
      fill: v.$white;
    }
  }
}

.form {
  flex: 0 1 40%;
  border: 0.0625rem solid v.$grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @include m.tablet {
    flex: initial;
    width: 100%;
  }
}

.formTitle {
  color: v.$white;
  text-align: center;
}

.label {
  display: flex;
  gap: 0.5rem;

  @include m.phone {
    flex-direction: column;
    gap: 1rem;
  }
}

.inputName,
.inputEmail,
.inputTitle,
.message {
  height: 2.3125rem;
  background-color: transparent;
  border: 0.0625rem solid v.$grey;
  padding: 0.5rem;
  color: v.$white;
}

.inputName,
.inputEmail {
  flex: 1 1 50%;

  @include m.phone {
    flex: initial;
  }
}

.message {
  height: 6.25rem;
}

.button {
  border: 0.0625rem solid v.$purple;
  padding: 0.5rem 1rem;
  color: v.$white;
  max-width: 9.375rem;
  margin-inline: auto;
  transition: all 0.3s;

  &:hover {
    background-color: v.$purple;
    border: 0.0625rem solid v.$grey;
  }
}
