@use '../../../styles/variables.scss' as v;
@use '../../../styles/mixins.scss' as m;
@use '../../../styles/functions.scss' as f;

.skills {
  padding-bottom: 7rem;

  @media screen and (max-width:768px) {
    background: url('../../../assets/icons/LogoALBG.svg') right 0px bottom 7px / 113px 113px no-repeat;
  }

  @include m.phone {
    padding-bottom: 3.125rem;
    background: initial;
  }
}

.title {
  font-weight: 500;
  font-size: 2rem;
  line-height: f.ratio(32, 42);
  color: v.$white;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  span {
    color: v.$purple;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 18vw;
    height: 0.0625rem;
    background-color: v.$purple;
    position: absolute;
    top: 50%;
    transform: translate(16px, -50%);
  }
}

.container {
  display: flex;
  gap: 3.6875rem;
  justify-content: flex-end;
  background: url('../../../assets/images/Home_Skills/decor.svg') left 2.125rem top 3.125rem / 3.9375rem 3.9375rem no-repeat,
    url('../../../assets/images/Home_Skills/decor.svg') left 13.1875rem top 9.6875rem / 3.9375rem 3.9375rem no-repeat,
    url('../../../assets/images/Home_Skills/recBig.svg') left 16.3125rem top 0.75rem / 5.375rem 5.375rem no-repeat,
    url('../../../assets/images/Home_Skills/recSmall.svg') left 20.6875rem top 12.8125rem / 3.25rem 3.25rem no-repeat,
    url('../../../assets/icons/LogoALBG.svg') left 3.0625rem top 11.3125rem / 7.0625rem 7.0625rem no-repeat;

  @include m.tablet {
    background: initial;
  }
}

.decors {
  flex: 0 1 34%;
}

.content {
  flex: 0 1 36.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 1rem;
  background-color: v.$black;

  @media screen and (max-width:530px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.skillWrapper {
  border: 0.0625rem solid v.$grey;
  padding: 0.5rem;
}

.skillTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: f.ratio(16, 21);
  color: v.$white;
  border-bottom: 0.0625rem solid v.$grey;
}

.skillsList {
  font-weight: 400;
  font-size: 1rem;
  line-height: f.ratio(16, 21);
  color: v.$grey;
}